.login-form {
  width: 600px;
  height: 500px;
  background: rgb(241, 241, 241);
  border-radius: 20px;
  margin: 200px auto 0 auto;
}

.login-title {
  font-size: 40px;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  outline: none;
  display: block;
  width: 60%;
  margin: auto;
  margin-bottom: 12px;
  height: 40px;
  border-radius: 25px;
  border: gray;
  font-size: 20px;
  padding-left: 30px;
}

input:focus {
  border: 1px solid rgb(25, 42, 86);
}

.login-button {
  width: 60%;
  height: 50px;
  border: none;
  background-color: rgb(25, 42, 86);
  border-radius: 25px;
  color: white;
  font-size: 18px;
  transition: 0.2s;
}

.login-button:hover {
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid rgb(25, 42, 86);
  background-color: rgb(231, 231, 231);
  color: rgb(25, 42, 86);
  font-weight: bold;
}

.login-btn {
  margin-top: 40px;
  margin-bottom: 10px;
}
