.right {
  display: flex;
  border: 1px solid black;
  flex: 1;
}

button {
  width: 100px;
  height: 50px;
  text-align: center;
  margin: auto;
  outline: none;
  border: none;
  background: rgb(233, 90, 90);
  border-radius: 15rem 15rem 15rem;
  color: white;
  font-size: 22px;
}
